{% extends 'main/base/base.html' %}
{% load i18n %}

{% block extra_title %} - {% translate 'Account activation failed' %}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-12 col-md-8 offset-md-2 col-lg-6 offset-lg-3">
            <div class="card shadow-sm">
                <div class="card-header">
                    <h5 class="card-title">{% translate 'Account activation failed' %}</h5>
                </div>
                <div class="card-body">
                    <p>{{ activation_error.message }}</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
