{% extends 'main/base/base.html' %}
{% load i18n %}

{% block extra_title %} - {% translate 'Account activation required' %}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-12 col-md-8 offset-md-2 col-lg-6 offset-lg-3">
            <div class="card shadow-sm">
                <div class="card-header">
                    <h5 class="card-title">{% translate 'Account activation required' %}</h5>
                </div>
                <div class="card-body">
                    <p class="lead">{% translate 'An email message has been sent to your mailbox.'%}</p>
                    <p>{% translate 'Please follow the instructions in the email to activate your account.' %}</p>
                    <p>{% translate 'If you do not receive an email within a few minutes, please check your spam folder.' %}</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
