{% load i18n %}
<form method="get">
    {% include 'main/parts/error_list.html' with errors=form.non_field_errors %}
    <div class="form-group">
        <div class="input-group">
            {{ form.search_query }}
            <div class="input-group-append">
                <button class="btn btn-outline-primary" type="submit" data-toggle="tooltip" data-placement="top"
                        title="{% translate 'Search' context 'Form action' %}">
                    {% include 'main/parts/search_icon.html' %}
                </button>
            </div>
            {% include 'main/parts/error_list.html' with errors=form.search_query.errors %}
        </div>
    </div>
    <div class="form-group">
        <a class="btn btn-link" data-toggle="collapse" href="#advanced-search" role="button" aria-expanded="false"
           aria-controls="advanced-search">
            {% translate 'Advanced search' %}
        </a>
    </div>
    <div class="collapse {{ form.advanced|yesno:"show," }}" id="advanced-search">
        <div class="form-group form-row">
            {{ form.blog.label_tag }}
            {{ form.blog }}
        </div>
        {% include 'main/parts/error_list.html' with errors=form.blog.errors %}
        {% include 'main/parts/student_fieldset.html' %}
        {% include 'main/parts/tags_fieldset.html' %}
    </div>
</form>