{% load i18n %}
<div class="form-group">
    <div class="input-group">
        {{ form.search_query }}
        <div class="input-group-append">
            <button class="btn btn-outline-primary" type="submit" data-toggle="tooltip" data-placement="top" title="{% translate 'Search' %}"><i class="fas fa-search"></i></button>
        </div>
    </div>
</div>
<div class="form-group">
    <div class="form-check">
        {{ form.search_in_content }}
        {{ form.search_in_content.label_tag }}
    </div>
</div>
<p>
    <a class="btn btn-link" data-toggle="collapse" href="#advanced-search" role="button" aria-expanded="false" aria-controls="advanced-search">
        {% translate 'Advanced search' %}
    </a>
</p>
<div class="collapse {{ form.advanced|yesno:"show," }}" id="advanced-search">
    <div class="form-group form-row">
        {{ form.blog.label_tag }}
        {{ form.blog }}
    </div>
    <fieldset class="border border-secondary p-1 mb-2 form-row">
        <legend class="w-auto h5">{% translate 'Student information' %}</legend>
        {% for field in form.text_fields %}
            <div class="form-group col-4">
                {{ field.label_tag }}
                {{ field }}
            </div>
        {% endfor %}
    </fieldset>
    <fieldset class="border border-secondary p-1 mb-2 form-row">
        <legend class="w-auto h5">{{ form.tags.label_tag }}</legend>
        <div class="form-group col">
            {% for checkbox in form.tags %}
                <div class="form-check form-check-inline" title="{{ form.tags.help_text }}" data-toggle="tooltip" data-placement="top">
                    <input class="form-check-input" type="checkbox" id="{{ checkbox.id_for_label }}" name="{{ form.tags.html_name }}" value="{{ checkbox.data.value }}" {{ checkbox.data.selected|yesno:'checked,' }}>
                    <label class="form-check-label" for="{{ checkbox.id_for_label }}">
                        {{ checkbox.choice_label }}
                    </label>
                </div>
            {% empty %}
                <div class="form-text text-muted">{% translate 'No tags found' %}</div>
            {% endfor %}
        </div>
    </fieldset>
</div>
