{% load i18n %}
{% translate 'Search' context 'Navbar' as search%}
{% translate 'Vocabulary' as word_frequencies %}
{% url 'home' as home_path %}
{% url 'vocabulary' as vocabulary_path %}
<nav class="navbar navbar-dark bg-primary navbar-expand">
    <a class="navbar-brand" href="{% url 'home' %}">
        {% include 'main/base/app_icon.html' with style='font-size:2em' %}
        <span class="h4">{{ app_name }}</span>
    </a>
    <ul class="navbar-nav lead">
        <li class="nav-item">
            {% if request.path == home_path %}
                <a class="nav-link active" href="{{ home_path }}">{{ search }}</a>
            {% else %}
                <a class="nav-link" href="{{ home_path }}">{{ search }}</a>
            {% endif %}
        </li>
        <li class="nav-item">
            {% if request.path == vocabulary_path %}
                <a class="nav-link active" href="{{ vocabulary_path }}">{{ word_frequencies }}</a>
            {% else %}
                <a class="nav-link" href="{{ vocabulary_path }}">{{ word_frequencies }}</a>
            {% endif %}
        </li>
    </ul>
</nav>
