{% load i18n %}
{% translate 'Search' context 'Navbar' as search%}
{% translate 'Vocabulary' as word_frequencies %}
{% translate 'N-grams' as ngrams %}
{% translate 'Blog comparison' as blog_comparison %}
{% translate 'Surrounding words' as surrounding_words %}
{% translate 'Word derivations' as word_derivations %}
{% url 'home' as home_path %}
{% url 'vocabulary' as vocabulary_path %}
{% url 'blog_ngrams' as ngrams_path %}
{% url 'blog_comparison' as comparison_path %}
{% url 'surrounding_words' as surrounding_path %}
{% url 'word_derivations' as derivations_path %}
<nav class="navbar navbar-dark bg-success navbar-expand-lg mb-3 shadow">
    <a class="navbar-brand" href="{% url 'home' %}">
        {% include 'main/base/app_icon.html' with style='font-size:2em' %}
        <span class="h4">{{ app_name }}</span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav lead mr-auto d-flex align-items-center">
            <li class="nav-item">
                {% if request.path == home_path %}
                    <a class="nav-link active" href="{{ home_path }}">{{ search }}</a>
                {% else %}
                    <a class="nav-link" href="{{ home_path }}">{{ search }}</a>
                {% endif %}
            </li>
            <li class="nav-item">
                {% if request.path == vocabulary_path %}
                    <a class="nav-link active" href="{{ vocabulary_path }}">{{ word_frequencies }}</a>
                {% else %}
                    <a class="nav-link" href="{{ vocabulary_path }}">{{ word_frequencies }}</a>
                {% endif %}
            </li>
            <li class="nav-item">
                {% if request.path == ngrams_path %}
                    <a class="nav-link active" href="{{ ngrams_path }}">{{ ngrams }}</a>
                {% else %}
                    <a class="nav-link" href="{{ ngrams_path }}">{{ ngrams }}</a>
                {% endif %}
            </li>
            <li class="nav-item">
                {% if request.path == comparison_path %}
                    <a class="nav-link active" href="{{ comparison_path }}">{{ blog_comparison }}</a>
                {% else %}
                    <a class="nav-link" href="{{ comparison_path }}">{{ blog_comparison }}</a>
                {% endif %}
            </li>
            <li class="nav-item">
                {% if request.path == surrounding_path %}
                    <a class="nav-link active" href="{{ surrounding_path }}">{{ surrounding_words }}</a>
                {% else %}
                    <a class="nav-link" href="{{ surrounding_path }}">{{ surrounding_words }}</a>
                {% endif %}
            </li>
            <li class="nav-item">
                {% if request.path == derivations_path %}
                    <a class="nav-link active" href="{{ derivations_path }}">{{ word_derivations }}</a>
                {% else %}
                    <a class="nav-link" href="{{ derivations_path }}">{{ word_derivations }}</a>
                {% endif %}
            </li>
        </ul>
        {% if user.is_authenticated %}
            <span class="mr-2">{{ user.get_full_name }}</span>
            <form method="post" action="{% url 'logout' %}">
                {% csrf_token %}
                <input type="hidden" name="next" value="{{ request.path }}">
                <input class="btn btn-outline-dark" type="submit" value="{% translate 'Logout' %}">
            </form>
        {% else %}
            <a class="btn btn-outline-light" href="{% url 'login' %}">{% translate 'Login' %}</a>
        {% endif %}
    </div>
</nav>
