{% load humanize %}
{% load search %}
{% load i18n %}
<div class="col mb-3">
    <div class="card">
        <div class="card-header">
            <h5 class="card-title">
                <a href="{% url 'blog' blog.pk %}" class="text-decoration-none">
                    {{ blog.title }}
                </a>
            </h5>
            <h6 class="card-subtitle">
                <a href="{% url 'profile' blog.owner.pk %}" class="text-decoration-none text-secondary">
                    <i class="fas fa-feather-alt"></i>
                    {{ blog.owner.get_full_name|default:blog.owner.username }}
                </a>
            </h6>
        </div>
        <a href="#collapse-{{blog.pk}}" class="btn btn-outline-primary mt-2 mx-2" data-toggle="collapse" role="button"
           aria-expanded="false" aria-controls="collapse-{{blog.pk}}">
            {% translate 'Show details' %}
        </a>
        <div class="collapse" id="collapse-{{blog.pk}}">
        {% with blog.word_count as counts %}
            {% with blog.is_word_fully_indexed|yesno:'primary,warning' as color %}
                <ul class="list-group list-group-flush">
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <span>{% translate 'Texts' %}</span>
                        <span class="badge badge-primary pt-2">{{ blog.text_count|intcomma:False }}</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <span>{% translate 'Words with duplication' %}</span>
                        <span class="badge badge-{{ color }} pt-2">
                            {{ counts.0|intcomma:False }}
                        </span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <span>{% translate 'Words without duplication' %}</span>
                        <span class="badge badge-{{ color }} pt-2">
                            {{ counts.1|intcomma:False }}
                        </span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <span>{% translate 'Schools' %}</span>
                        <span class="badge badge-primary pt-2">{{ blog.school_count }}</span>
                    </li>
                    <li class="list-group-item">
                        <h6>{% translate 'Students' %}</h6>
                        <div class="d-flex flex-wrap justify-content-center">
                            {% for level, count in blog.student_count_per_level %}
                                <div class="card w-auto mr-2 my-1">
                                    <div class="card-body p-2">
                                        {% translate 'Unspecified' as no_level %}
                                        <span>{% translate 'Level' %} {{ level|default_if_none:no_level }}</span>
                                        <span class="badge badge-primary badge-pill pt-2 ml-2">{{ count }}</span>
                                    </div>
                                </div>
                            {% empty %}
                                <p class="text-muted m-1">{% translate 'No students' %}</p>
                            {% endfor %}
                        </div>
                    </li>
                    <li class="list-group-item">
                        <h6>{% translate 'Most frequent words' %}</h6>
                        <div class="d-flex flex-wrap justify-content-center">
                            {% for word, count in blog.most_frequent_words %}
                                <div class="card w-auto mr-2 my-1 border-primary list-group-item-action">
                                    <div class="card-body p-2">
                                        <a href="{% search_url request word blog.pk %}"
                                           class="stretched-link text-decoration-none">
                                            {{ word }}
                                        </a>
                                        <span class="badge badge-{{ color }} badge-pill pt-2">{{ count }}</span>
                                    </div>
                                </div>
                            {% empty %}
                                <p class="text-{% if color == 'primary' %}muted{% else %}{{ color }}{% endif %} m-1">
                                    {% translate 'No words' %}
                                </p>
                            {% endfor %}
                        </div>
                    </li>
                </ul>
            {% endwith %}
        {% endwith %}
        </div>
        <a href="{% url 'vocabulary' %}?blog={{ blog.id }}" class="btn btn-outline-primary m-2">
            {% translate 'Show vocabulary' %}
        </a>
    </div>
</div>