{% load i18n %}
{% url 'password_reset_confirm' uid token as reset_path %}
{% translate site_name as site_name %}
{% with protocol|add:'://'|add:domain|add:reset_path as reset_link %}
{% blocktranslate with username=user.get_full_name|default:user.username site_name=site_name reset_link=reset_link%}
    Hello {{ username }},

    To confirm your password reset request on {{ site_name }}, please click the following link:

    {{ reset_link }}

    If you did not request a password reset, please ignore this email.
{% endblocktranslate %}
{% endwith %}