{% extends 'main/base/base.html' %}
{% load i18n %}

{% block extra_title %} - {% translate 'Password reset success' %}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-12 col-md-8 offset-md-2 col-lg-6 offset-lg-3">
            <div class="card shadow-sm">
                <div class="card-header">
                    <h5 class="card-title">{{ title }}</h5>
                </div>
                <div class="card-body">
                    <p>{% translate 'Your password has been successfully reset.' %}</p>
                </div>
                <div class="card-footer">
                    <a class="btn btn-link" href="{{ login_url }}">{% translate 'Login' %}</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
