{% extends 'main/base/base.html' %}
{% load i18n %}

{% block extra_title %} - {% translate 'Password reset' %}{% endblock %}

{% block content %}
    {% include 'main/common/error_list.html' with errors=form.non_field_errors %}
    <div class="row">
        <div class="col-12 col-md-8 offset-md-2 col-lg-6 offset-lg-3">
            <div class="card shadow-sm">
                <div class="card-header">
                    <h5 class="card-title text-center">{{ title }}</h5>
                </div>
                <div class="card-body">
                    <form method="post" action="{% url 'password_reset' %}">
                        {% csrf_token %}
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <label class="input-group-text" for="{{ form.email.id_for_label }}">
                                        <i class="fa-solid fa-envelope"></i>
                                    </label>
                                </div>
                                <input type="text" class="form-control" id="{{ form.email.id_for_label }}"
                                       name="{{ form.email.html_name }}"
                                       placeholder="{{ form.email.label }}">
                            </div>
                            {% include 'main/common/error_list.html' with errors=form.email.errors%}
                        </div>
                        <button type="submit" class="btn btn-success btn-block d-flex align-items-center justify-content-center">
                            <i class="fa-solid fa-arrows-rotate fa-flip-horizontal mr-1"></i>
                            {% translate 'Reset' %}
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}