{% extends 'main/common/page.html' %}
{% load i18n %}
{% block heading_title %}{% translate 'Extraction of the n-grams' %}{% endblock %}
{% block heading_description %}
    {% translate 'Extract the n-grams from the texts with their apparition ratios.' %}
{% endblock %}
{% block form_loading_script %}
    {% url 'blog_ngrams_form' as form_url %}
    {% url 'blog_ngrams_results' as results_url %}
    {% include 'main/common/form_loading_script.html' %}
{% endblock %}
{% block results_loading_script %}
    {% url 'blog_ngrams_results' as results_url %}
    {% include 'main/common/results_loading_script.html' %}
{% endblock %}
