{% extends 'main/base/base.html' %}
{% load i18n %}
{% block content %}
    <div class="row mt-3">
        <div class="col-12">
            <div class="jumbotron p-3 text-center">
                <h1>{% translate 'Extraction of the n-grams' %}</h1>
                {{ form }}
            </div>
        </div>
    </div>
    {% if form.is_bound %}
        {% with blog.is_bigram_fully_indexed|yesno:'secondary,warning' as color %}
            {% if frequencies %}
                <div class="row row-cols-md-4 row-cols-sm-2 row-cols-1 row-cols-lg-5 row-cols-xl-6 d-flex justify-content-center">
                    {% for word, frequency in frequencies %}
                        <div class="col mb-3">
                            {% include 'main/common/word_frequency_card.html' %}
                        </div>
                    {% endfor %}
                </div>
            {% else %}
                <div class="lead text-{{ color }} text-center mb-3">{% translate 'No words found' %}</div>
            {% endif %}
        {% endwith %}
    {% endif %}
    {% include 'main/common/pagination.html' with results=frequencies %}
{% endblock %}
