{% include 'main/vocabulary/word_filter.html' %}
<div class="form-group">
    {% for ngram_type_radio in form.ngram_type %}
        <div class="form-check form-check-inline">
            {{ ngram_type_radio.tag }}
            <label class="form-check-label" for="{{ ngram_type_radio.id_for_label }}">
                {{ ngram_type_radio.choice_label }}
            </label>
        </div>
    {% endfor %}
</div>
{% include 'main/common/error_list.html' with errors=form.include_functional_words.errors %}
