{% extends 'main/base/base.html' %}
{% load i18n %}
{% block content %}
    <div class="row">
        <div class="col-12">
            <div class="jumbotron p-3 text-center">
                <h1>{% translate 'Blog comparison' %}</h1>
                <p class="lead">
                    {% translate 'Compare the selected blogs by the most frequent words and ngrams.' %}
                </p>
                <div id="form">
                    <div class="spinner-border text-secondary" role="status"></div>
                </div>
                <script type="text/javascript">
                    $('#form').load('{% url 'blog_comparison_form' %}' + window.location.search, function() {
                        addFormSubmitLogic('{% url 'blog_comparison_results' %}');
                    });
                </script>
            </div>
        </div>
    </div>
    <div id="results"></div>
    <script type="text/javascript">
        $(document).ready(function() {
            if (window.location.search) {
                const comparison_api_url = '{% url 'blog_comparison_results' %}' + window.location.search;
                loadSearchResults(comparison_api_url);
            }
        });
    </script>
{% endblock %}