{% load i18n %}
<div class="card mb-3">
    <div class="card-header">
        <h5 class="card-title">{{ blog.title }}</h5>
        <ul class="nav nav-tabs card-header-tabs" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active" data-target="#blog{{ blog.pk }}-tab1" data-toggle="tab" role="tab">
                    {% translate 'Most frequent words' %}
                    <span class="badge badge-secondary pt-2">
                        <span class="spinner-border spinner-border-sm text-light" role="status"></span>
                    </span>
                </button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" data-target="#blog{{ blog.pk }}-tab2" data-toggle="tab" role="tab">
                    {% translate 'Most frequent bigrams' %}
                    <span class="badge badge-secondary pt-2">
                        <span class="spinner-border spinner-border-sm text-light" role="status"></span>
                    </span>
                </button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" data-target="#blog{{ blog.pk }}-tab3" data-toggle="tab" role="tab">
                    {% translate 'Most frequent trigrams' %}
                    <span class="badge badge-secondary pt-2">
                        <span class="spinner-border spinner-border-sm text-light" role="status"></span>
                    </span>
                </button>
            </li>
        </ul>
    </div>
    <div class="tab-content overflow-auto" style="max-height: 25em">
        <div class="card-body tab-pane fade show active" id="blog{{ blog.pk }}-tab1">
            <div class="row row-cols-2 row-cols-sm-3 row-cols-md-4 row-cols-lg-5 row-cols-xl-6">
                <div class="d-flex justify-content-center align-items-center">
                    <span class="spinner spinner-border text-secondary" role="status"></span>
                </div>
            </div>
        </div>
        <div class="card-body tab-pane fade" id="blog{{ blog.pk }}-tab2">
            <div class="row row-cols-2 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5">
                <div class="d-flex justify-content-center align-items-center">
                    <span class="spinner spinner-border text-secondary" role="status"></span>
                </div>
            </div>
        </div>
        <div class="card-body tab-pane fade" id="blog{{ blog.pk }}-tab3">
            <div class="row row-cols-sm-1 row-cols-md-3 row-cols-lg-4">
                <div class="d-flex justify-content-center align-items-center">
                    <span class="spinner spinner-border text-secondary" role="status"></span>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        $(document).ready(function() {
            const tab1 = $('#blog{{ blog.pk }}-tab1');
            tab1.find('.row').load('{% url 'most_frequent_words' blog.pk %}', function() {
                $('[data-target="#blog{{ blog.pk }}-tab1"] .badge').text(
                    tab1.find('.list-group-item-action').length.toString()
                )
                initializeTooltips();
            });
            const tab2 = $('#blog{{ blog.pk }}-tab2');
            tab2.find('.row').load('{% url 'most_frequent_bigrams' blog.pk %}', function() {
                $('[data-target="#blog{{ blog.pk }}-tab2"] .badge').text(
                    tab2.find('.list-group-item-action').length.toString()
                )
                initializeTooltips();
            });
            const tab3 = $('#blog{{ blog.pk }}-tab3');
            tab3.find('.row').load('{% url 'most_frequent_trigrams' blog.pk %}', function() {
                $('[data-target="#blog{{ blog.pk }}-tab3"] .badge').text(
                    tab3.find('.list-group-item-action').length.toString()
                )
                initializeTooltips();
            });
        });
    </script>
</div>