{% load i18n %}
<div class="card">
    <div class="card-header">
        <h5 class="card-title">{{ blog.title }}</h5>
        <ul class="nav nav-tabs card-header-tabs" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active" data-target="#blog{{ blog.pk }}-tab1" data-toggle="tab" role="tab">
                    {% translate 'Most frequent words' %}
                    <span class="badge badge-secondary pt-2">{{ blog.most_frequent_words_extended|length }}</span>
                </button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" data-target="#blog{{ blog.pk }}-tab2" data-toggle="tab" role="tab">
                    {% translate 'Most frequent bigrams' %}
                    <span class="badge badge-secondary pt-2">{{ blog.most_frequent_bigrams|length }}</span>
                </button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" data-target="#blog{{ blog.pk }}-tab3" data-toggle="tab" role="tab">
                    {% translate 'Most frequent trigrams' %}
                    <span class="badge badge-secondary pt-2">{{ blog.most_frequent_trigrams|length }}</span>
                </button>
            </li>
        </ul>
    </div>
    <div class="tab-content overflow-auto" style="max-height: 25rem">
        <div class="card-body tab-pane fade show active" id="blog{{ blog.pk }}-tab1">
            <div class="row row-cols-2 row-cols-sm-3 row-cols-md-4 row-cols-lg-5 row-cols-xl-6">
                {% with blog.is_word_fully_indexed|yesno:'primary,warning' as color %}
                    {% for word, frequency in blog.most_frequent_words_extended %}
                        <div class="col mb-1">
                            {% include 'main/common/word_frequency_card.html' with color=blog.is_word_fully_indexed|yesno:'primary,warning' %}
                        </div>
                    {% empty %}
                        <p class="card-text text-{% if color == 'primary' %}muted{% else %}{{ color }}{% endif %}">{% translate 'No results' %}</p>
                    {% endfor %}
                {% endwith %}
            </div>
        </div>
        <div class="card-body tab-pane fade" id="blog{{ blog.pk }}-tab2">
            <div class="row row-cols-2 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5">
                {% with blog.is_bigram_fully_indexed|yesno:'primary,warning' as color %}
                    {% for first_word, second_word, frequency in blog.most_frequent_bigrams %}
                        <div class="col mb-1">
                            {% include 'main/common/word_frequency_card.html' with word=first_word|add:' '|add:second_word color=blog.is_bigram_fully_indexed|yesno:'primary,warning'%}
                        </div>
                    {% empty %}
                        <p class="card-text text-{% if color == 'primary' %}muted{% else %}{{ color }}{% endif %}">{% translate 'No results' %}</p>
                    {% endfor %}
                {% endwith %}
            </div>
        </div>
        <div class="card-body tab-pane fade" id="blog{{ blog.pk }}-tab3">
            {% with blog.is_trigram_fully_indexed|yesno:'primary,warning' as color %}
                <div class="row row-cols-sm-1 row-cols-md-3 row-cols-lg-4">
                    {% for first_word, second_word, third_word, frequency in blog.most_frequent_trigrams %}
                        <div class="col mb-1">
                            {% include 'main/common/word_frequency_card.html' with word=first_word|add:' '|add:second_word|add:' '|add:third_word %}
                        </div>
                    {% empty %}
                        <p class="card-text text-{% if color == 'primary' %}muted{% else %}{{ color }}{% endif %}">{% translate 'No results' %}</p>
                    {% endfor %}
                </div>
            {% endwith %}
        </div>
    </div>
</div>