{% extends 'main/common/page.html' %}
{% load i18n %}
{% block heading_title %}{% translate 'Blog comparison' %}{% endblock %}
{% block heading_description %}
    {% translate 'Compare the selected blogs by the most frequent words and ngrams.' %}
{% endblock %}
{% block form_loading_script %}
    {% url 'blog_comparison_form' as form_url %}
    {% url 'blog_comparison_results' as results_url %}
    {% include 'main/common/form_loading_script.html' %}
{% endblock %}
{% block results_loading_script %}
    {% url 'blog_comparison_results' as results_url %}
    {% include 'main/common/results_loading_script.html' %}
{% endblock %}
