{% extends 'main/base/base.html' %}
{% load i18n %}
{% load search %}

{% block content %}
    {% include 'main/common/announcements.html' %}
    <div class="jumbotron pt-3 pb-1 text-center">
        <h1 class="mb-3">{% get_app_name %}</h1>
        <h3 class="mb-3">{% translate 'Search in the database' %}</h3>
        {{ form }}
        <h4 class="mb-3 d-flex align-items-center justify-content-center">
            {% translate 'Available blogs' %}
            <span class="spinner-border spinner-border-sm ml-2 text-secondary"></span>
        </h4>
        <div class="row row-cols-md-3 row-cols-sm-1 d-flex justify-content-center" id="blog-cards">
            <script type="text/javascript">
                const blog_cards = $('#blog-cards');
                const spinner_span = blog_cards.prev().find('.spinner-border');
                const error_icon = $('<span class="material-icons small text-danger">error</span>');
                $.ajax("{% url 'blog_ids' %}").done(
                    function (blog_ids) {
                        let loaded = 0;
                        blog_ids.forEach(function (blog_id) {
                            $.ajax(`/api/blog_card/${blog_id}/`).done(
                                (blog_card) => blog_cards.append(blog_card)
                            ).always(() => {
                                loaded++;
                                if (loaded === blog_ids.length) spinner_span.removeClass("spinner-border spinner-border-sm");
                            }).fail(() => {
                                blog_cards.append(error_icon);
                                spinner_span.replaceWith(error_icon);
                            })
                        });
                    }
                ).fail(() => spinner_span.replaceWith(error_icon));
            </script>
        </div>
    </div>
    {% if query %}
        <div class="row">
            <div class="col-12">
                <div class="list-group-item rounded-top pb-0 bg-secondary text-light">
                    <h4 class="text-center">{% translate 'Search results' %}</h4>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <table class="table table-bordered text-center table-secondary">
                    <thead class="thead-dark">
                    <tr>
                        <th scope="col">{% translate 'Expression frequency' %}</th>
                        <th scope="col">{% translate 'Matched documents' %}</th>
                        <th scope="col">{% translate 'Current page' %}</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>{{ frequency }}</td>
                        <td>{{ matched_text_count }}</td>
                        <td>{% blocktranslate trimmed with f=results.start_index t=results.end_index c=results.paginator.count%}
                        	Results from {{ f }} to {{ t }} of {{ c }}
                        {% endblocktranslate %}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        {%  translate 'Title' as title_name %}
        {%  translate 'Content' as content_name %}
        {% for result in results %}
            {% include 'main/search/result_card.html' with result=result%}
        {% empty %}
            <div class="row">
                <div class="col-md-12">
                    <p class="text-muted">{% translate 'Query did not match any texts.' %}</p>
                </div>
            </div>
        {% endfor %}
        {% include 'main/common/pagination.html' with results=results %}
    {% endif %}
{% endblock %}
