{% load i18n %}
<form method="get">
    {% include 'main/common/error_list.html' with errors=form.non_field_errors %}
    <div class="form-group">
        <div class="input-group">
            {{ form.search_query }}
            <div class="input-group-append">
                <button class="btn btn-outline-primary" type="submit" data-toggle="tooltip" data-placement="top"
                        title="{% translate 'Search' context 'Form action' %}">
                    {% include 'main/common/search_icon.html' %}
                </button>
            </div>
            {% include 'main/common/error_list.html' with errors=form.search_query.errors %}
        </div>
    </div>
    <div class="form-group">
        <a class="btn btn-link" data-toggle="collapse" href="#advanced-search" role="button" aria-expanded="false"
           aria-controls="advanced-search">
            {% translate 'Advanced search' %}
        </a>
    </div>
    <div class="collapse {{ form.advanced|yesno:"show," }}" id="advanced-search">
        <div class="text-center mb-3">
            <div class="spinner-border text-secondary" role="status"></div>
        </div>
    </div>
    <script type="text/javascript">
        $(document).ready(function () {
            const advancedSearch = $('#advanced-search');
            function retrieveAdvancedSearchPart() {
                if (advancedSearch.has('.spinner-border').length) {
                    advancedSearch.load('{% url 'advanced_search_form' %}' + window.location.search);
                }
            }
            if (advancedSearch.hasClass('show')) retrieveAdvancedSearchPart();
            advancedSearch.on('show.bs.collapse', retrieveAdvancedSearchPart);
        });
    </script>
</form>