{% extends 'main/base/base.html' %}
{% load search %}
{% block extra_title %} - {{ text.title }}{% endblock %}
{% block content %}
    <div class="card mt-3">
        <div class="card-header text-center">
            <h4>{{ text.title }}</h4>
            <h6 class="text-muted">{{ text.sex|sex_icon }} {{ text.get_student_number_display }}</h6>
            <hr>
            <small class="text-muted row">
                {% if text.city %}
                <span class="col">
                    <i class="fa-solid fa-city"></i>
                    {{ text.city }}
                </span>
                {% endif %}
                {% if text.school %}
                    <span class="col">
                        <i class="fa-solid fa-school"></i>
                        {{ text.school }}
                    </span>
                {% endif %}
                {% if text.level %}
                    <span class="col">
                        <i class="fa-solid fa-book-open-reader"></i>
                        {{ text.get_level_display }}
                    </span>
                {% endif %}
                {% if text.type %}
                    <span class="col">
                        {{ text.type|text_type_icon }}
                        {{ text.get_type_display }}
                    </span>
                {% endif %}
                {% if result.text.author_name %}
                    <span class="col">
                        <i class="fa-solid fa-user-pen"></i>
                        {{ result.text.author_name }}
                    </span>
                {% endif %}
                {% if result.text.source_type %}
                    <span class="col">
                        <i class="fa-solid fa-file"></i>
                        {{ result.text.source_type }}
                    </span>
                {% endif %}
            </small>
        </div>
        <div class="card-body">
            <div class="card-text">
                {% highlight_range text.content_normalized request.GET.start request.GET.end surrounding_words=50 as content %}
                {{ content|paragraphs_wrap|safe }}
            </div>
        </div>
    </div>
{% endblock %}
