{% extends 'main/common/page.html' %}
{% load i18n %}
{% block heading_title %}
    {% translate 'Vocabulary of the database' %}
{% endblock %}
{% block heading_description %}
    {% translate 'Search for the most frequent vocabulary with the respective frequencies and appearance ratios in the texts.' %}
{% endblock %}
{% block form_loading_script %}
    {% url 'vocabulary_form' as form_url %}
    {% url 'vocabulary_results' as results_url %}
    {% include 'main/common/form_loading_script.html' %}
{% endblock %}
{% block results_loading_script %}
    {% url 'vocabulary_results' as results_url %}
    {% include 'main/common/results_loading_script.html' %}
{% endblock %}
