{% extends 'main/base/base.html' %}
{% load i18n %}
{% load search %}
{% block content %}
    <div class="row mt-3">
        <div class="col-12">
            <div class="jumbotron p-3 text-center">
                <h1>{% translate 'Vocabulary of the database' %}</h1>
                {{ form }}
            </div>
        </div>
    </div>
    {% if form.is_bound %}
        {% if frequencies %}
        <div class="row row-cols-md-6 row-cols-sm-3 d-flex justify-content-center">
            {% for word, frequency in frequencies %}
                <div class="col mb-3">
                    <div class="card list-group-item-action">
                        <div class="card-body lead d-flex justify-content-between align-items-center p-2">
                            <a href='{{ request|search_url_for_word:word }}'
                               class="stretched-link text-decoration-none">
                                {{ word }}
                            </a>
                            <span class="badge badge-secondary pt-2">{{ frequency }}</span>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        {% else %}
            <div class="lead text-muted text-center mb-3">{% translate 'No words found' %}</div>
        {% endif %}
    {% endif %}
    {% include 'main/common/pagination.html' with results=frequencies %}
{% endblock %}
