{% load search %}
{% load static %}
{% load i18n %}

{% get_current_language as LANG_CODE %}
{% get_current_language_bidi as bidi %}
{% get_app_name as app_name %}
{% translate 'Copyright 2024. All rights reserved. Dr. Abdulaziz Abdullah Almhyubi' as copyright %}

<!doctype html>
<html lang="{{ LANG_CODE }}" dir="{{ bidi|yesno:'rtl,ltr' }}">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% include 'main/parts/stylesheets.html' %}

    <!-- SEO meta tags -->
    <title>{% block title %}{{ app_name }}{% endblock %}{% block extra_title %}{% endblock %}</title>
    <meta name="description" content="{% block meta_description %}{% translate 'Search engine in the blogs of students' %}{% endblock %}">
    <meta name="keywords" content="{% block meta_keywords %}{% translate 'search, blogs, students' %}{% endblock %}">
    <meta name="robots" content="{% block meta_robots %}index, follow{% endblock %}">
    <meta name="author" content="Hamza Abbad <hamza.abbad@gmail.com>">
</head>
<body>
    <header>
        {% include 'main/parts/navbar.html' %}
    </header>

    <main>
        <div class="container">
            {% block content %}{% endblock %}
        </div>
    </main>

    <hr>
    <footer class="mt-auto py-2">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <p>{{ copyright }} - <a href="mailto:s99scom@hotmail.com">s99scom@hotmail.com</a></p>
                </div>
            </div>
        </div>
    </footer>

    {% include 'main/parts/scripts.html' %}
</body>
</html>
