{% extends 'main/common/page.html' %}
{% load i18n %}
{% block heading_title %}{% translate 'Surrounding words' %}{% endblock %}
{% block heading_description %}
    {% translate 'Search for the previous and following words of a given words in the texts with their apparition frequencies.' %}
{% endblock %}
{% block form %}
    {{ form }}
{% endblock %}
{% block form_loading_script %}
    <script type="text/javascript">
        $(document).ready(function() {
            addFormSubmitLogic('{% url 'surrounding_words_results' %}');
        });
    </script>
{% endblock %}
{% block results_loading_script %}
    {% url 'surrounding_words_results' as results_url %}
    {% include 'main/common/results_loading_script.html'%}
{% endblock %}
